<!DOCTYPE html>
<html>
<head>
  <title>BenchLover</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBDFvDxOcZ7X1ZHjDgoMKc_xgPGeMzP78Y" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
